<section class="view" id="intro-view" aria-label="Intro">
    <div class="intro-container">
        <video autoplay muted loop playsinline id="intro-bg-video">
            <source data-asset-original-src="assets/backgrounds/video_movil.mp4" media="(max-width: 768px)">
            <source data-asset-original-src="assets/backgrounds/video_escritorio.mp4" media="(min-width: 769px)">
        </video>

        <video id="intro-transition-video" playsinline muted>
            <source data-asset-original-src="assets/backgrounds/zoom_movil.mp4" media="(max-width: 768px)">
            <source data-asset-original-src="assets/backgrounds/zoom_escritorio.mp4" media="(min-width: 769px)">
        </video>

        <div class="overlay" id="intro-overlay">
            <button class="btn-start" id="btn-start" type="button">START</button>
        </div>
    </div>
</section>
