<div class="final-screen-overlay" id="final-screen">
    <div class="arcade-back-container">
        <button class="arcade-back-btn" id="btn-back" type="button" aria-label="Volver atrás">
            <img src="../assets/icons/back.png" alt="">
        </button>
    </div>

    <div class="final-preview-container" id="final-preview-box"></div>

    <div class="final-text-box" id="final-text-box">
        THIS IS THE END, BEAUTIFUL FRIEND. <br>DEL <span class="highlight">4 AL 8 DE DICIEMBRE</span> EN <a class="highlight" href="https://maps.app.goo.gl/wEVkPvU6g7QczzLU8" target="_blank">CAN VIDAL RURAL 🔗</a>!<br><br>
        CALCULO QUE SERÁN UNOS <span class="highlight">250€</span>. SALDREMOS DE DUDAS CUANDO MONTE EL EXCEL CON LOS DATOS QUE PIDO AQUí ABAJO. ¡GRACIAS!
        <a class="important" href="https://docs.google.com/forms/d/e/1FAIpQLScrykzr2L9hnSnlZfarKuyYEI37TXjg8kcROzYr71n8HP29KQ/viewform?usp=publish-editor" target="_blank">HAZLO POR EL EXCEL ⊞</a><br>
    </div>
</div>
