<div class="final-screen-overlay" id="final-screen">
    <div class="arcade-back-container">
        <button class="arcade-back-btn" id="btn-back" type="button" aria-label="Volver atrás">
            <img src="../assets/icons/back.png" alt="">
        </button>
    </div>

    <div class="final-preview-container" id="final-preview-box"></div>

    <div class="final-text-box" id="final-text-box">
        ¡LOS VAMOS A PETAR DEL <span class="highlight">4 AL 8 DE DICIEMBRE</span> EN CAN VIDAL RURAL!<br><br>
        SON <span class="highlight">250€</span>, ME LOS PUEDES ENVIAR A:
        <span class="iban">ES86 8547 8897 5203 9999</span><br>
        ¡GRACIAS!
    </div>
</div>
